header {
  background: $primary-color;
  padding: $base-spacing;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: white;
      font-family: $font-stack;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 1rem;

      li a {
        color: white;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}
