body {
  background-color: #f0f3f8;
  color: #333;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: #333;
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  opacity: 0.9;
}
